<div class="bottom-bar">
  <div class="bottom-left">
    <img src="logo1.png" alt="Farmacias Curarte" class="footer-logo">
  </div>

  <div class="bottom-center">
    <div class="contacto">
      +57 (1) 234 5678<br>
      contacto&#64;farmaciascurarte.com<br>
      Calle 123, Bogotá, Colombia
    </div>
  </div>

  <div class="bottom-right">
    <div class="social-icons">
      <a href="https://www.instagram.com/farmaciascurarte" target="_blank" rel="noopener noreferrer">
        <img src="instagram-logo.png" alt="Instagram">
      </a>
      <a href="https://www.facebook.com/farmaciascurarte" target="_blank" rel="noopener noreferrer">
        <img src="facebook-logo.png" alt="Facebook">
      </a>
      <a href="https://www.youtube.com/c/farmaciascurarte" target="_blank" rel="noopener noreferrer">
        <img src="youtube-logo.png" alt="YouTube">
      </a>
      <a href="https://www.tiktok.com/@farmaciascurarte" target="_blank" rel="noopener noreferrer">
        <img src="tiktok-logo.png" alt="TikTok">
      </a>
    </div>
  </div>
</div>